<app-nav></app-nav> 
    <section id="sideMenu">
      <nav>
        <a href="/dashboard" > <i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="/clients"><i class="fas fa-user-tie"></i> Clients</a>
        <a href="/sales" ><i class="fas fa-search-dollar"></i> Sales</a>
        <a href="/stats" class="active" ><i class="fas fa-chart-area"></i> Stats</a>
        <a href="#"><i class="far fa-calendar-alt"></i> Schedules</a>
      </nav>
    </section>
  
    <section id="content-area">
  
      <div class="col-md-12">
        <div class="heading">
          <h1>Stats</h1>
          <p></p>
        </div>
      </div>
      
  
  
      <div class="wrapper">
  
              <div class="card">
                <div class="user-img"></div>
                <span class="user-name"> jhon wick</span>
                <span class="user-title"> hitman</span>
                <hr>
                <div class="col-md-3">
                  <span class="education"> hit em</span>
                </div>
                <div class="col-md-9">
                  <span class="schools">the continental</span>
                  <span class="schools">the continental</span>
                </div>
              </div>
  
      
              <div class="card">
                <h6>schedules </h6>
                <span class="date"> 12/12/12</span>
                <div class="col-md-2">
                  <span class="job-type"> hit em</span>
                </div>
                <div class="col-md-10">
                  <span class="location">the continental</span>
                  <span class="position">the continental</span>
                  <span class="time">4/20</span>
                </div>
              </div>
  
            
              <div class="card">
                <h6>schedules </h6>
                <span class="date"> 12/12/12</span>
                <div class="col-md-2">
                  <span class="job-type"> hit em</span>
                </div>
                <div class="col-md-10">
                  <span class="location">the continental</span>
                  <span class="position">the continental</span>
                  <span class="time">4/20</span>
                </div>
              </div>
  
  
      </div>
  
      <table>
        <thead>
          <tr>
            <th>Products ID</th>
            <th>Products</th>
            <th>Products Qty</th>
            <th>Client</th>
            <th>category</th>
            <th>Field</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let row of stats">
            <td>{{row.id}}</td>
            <td>{{row.product}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.client}}</td>
            <td>{{row.category}}</td>
            <td>{{row.field}}</td>
          </tr>
        </tbody>
      </table>
    </section>