<app-navigation></app-navigation>

<div class="body">
  
  <h2 class="title-header center margin-up-down">Inscription</h2>


  <form [formGroup]="messageForm"  class="blockforminscrip" (submit)="onRegisterSubmit()">

    <div class="grid-form margin-up-down animated bounceInLeft">
     
      <div>
        <label class="titlemain title--small text-weight--bold" for="name">Name</label>
        <br>
        <input class="inputform inputpadding" type="text" name="name" id="name" placeholder="Enter Name">
      </div>

      <div>
        <label class="titlemain title--small text-weight--bold" for="username">Username</label>
        <br>
        <input class="inputform inputpadding" type="text" name="username" id="username" placeholder="Enter Username">
      </div>

      <div>
        <label class="titlemain title--small text-weight--bold" for="email">Email</label>
        <br>
        <input  class="inputform inputpadding" type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
      </div>
      
      <div>
        <label  class="titlemain title--small text-weight--bold" for="password">Password</label>
        <br>
        <input class="inputform inputpadding" type="password" name="password" id="password" placeholder=" Enter Password">
      </div>

      <div>
        <label class="titlemain title--small text-weight--bold" for="password">Password</label>
        <br>
        <input class="inputform inputpadding" type="password" name="password" id="password" placeholder=" Enter Password">
      </div>

      <div>
        <label class="titlemain title--small text-weight--bold" for="password">Password</label>
        <br>
        <input class="inputform inputpadding" type="password" name="password" id="password" placeholder=" Enter Password">
      </div>


    </div>

    <div class="center margin-up-down">
      <input type="submit" class="btn btn-md btn-green center" value="Envoyer">
    </div>

  </form>

</div>