<footer class="footer">

  <div class="container">

    <img src="../../assets/images/logosmall.svg" alt="we are data">

    <p class="copyright">COPYRIGHT 2018</p>

    <div>
      <ul>
        <li class="oval">
          <a href="https://www.facebook.com">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="oval">
          <a href="https://www.twitter.com/">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="oval">
          <a href="https://www.linkedin.com/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>