.rectangle-7 {

    height: 126px;
    width: 1440px;
    background-color: #34495E;
}

/* ul {
    list-style-type: none;
    margin-right: 16px; padding: 0;

    li {
        float: left;

        a {

            padding: 1.5em;
            text-transform: uppercase;
            font-size: .8em;
            background: #FFFFFF;

            &:hover {
                background: #FFFFFF;

            }
        }
    }
} */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-item-left {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-item-right {
    list-style-type: none;
    display: flex;
    background-color: #34495E;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }



/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    height: 100px;
     /*   padding: 10px; height: 300px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.we {	height: 17px;	width: 44px;}
.are {	height: 17px;	width: 51px;}
.data {	height: 17px;	width: 72px;}

.copyright-2018 {
    height: 16px;
    width: 138px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 13px;
    letter-spacing: 1.86px;
    line-height: 16px;
    text-align: center;}

    .icon {

        color: #FFFFFF;
        margin-left: 20px;

    }

    .logofoot{
        width: 100px;
        height: 15px;
    }