@import 'base/variables';
*{
        box-sizing: border-box;
      }
      
      body{
        height: 100vh;
        background:$blue;
        color:#485e74;
        line-height:1.6;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding:1em;
      }
      
      .container{
        margin-top: 60px;
        max-width:1170px;
    /*     margin-top: auto;
        margin-bottom: auto; */
        margin-left:auto;
        margin-right:auto;
        padding:1em;
      }
      
      ul{
        list-style: none;
        padding:0;
      }
      
      .brand{
        text-align: center;
      }
      
      .brand span{
        color:#fff;
      }
      
      .wrapper{
        box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
        
      }
      
      .wrapper > *{
        padding: 1em;
        
      }
      
      .company-info{
        background:#c9e6ff;
      }
      
      .company-info h3, .company-info ul{
        text-align: center;
        margin:0 0 1rem 0;
      }
      
      .contact{
        background:#f9feff;
      }
      
      /* FORM STYLES */
      .contact form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
      }
      
      .contact form label{
        display:block;
      }
      
      .contact form p{
        margin:0;
      }
      
      .contact form .full{
        grid-column: 1 / 3;
      }
      
      .contact form button, .contact form input, .contact form textarea{
        width:100%;
        padding:1em;
        border:1px solid #c9e6ff;
      }
      
      .contact form button{
        background:#c9e6ff;
        border:0;
        text-transform: uppercase;
      }
      
      .contact form button:hover,.contact form button:focus{
        background:#92bde7;
        color:#fff;
        outline:0;
        transition: background-color 2s ease-out;
      }
      
      /* LARGE SCREENS */
      @media(min-width:700px){
        .wrapper{
          display: grid;
          grid-template-columns: 1fr 2fr;
        }
      
        .wrapper > *{
          padding:2em;
        }
      
        .company-info h3, .company-info ul, .brand{
          text-align: left;
        }
      }


      //added

      label {
        display: block;
        
        input, textarea {
            display: block;
            width: 50%;
            margin-bottom: 20px;
            padding: 1em;
        }
    
        .error {
            margin-top: -20px;
            background: yellow;
            padding: .5em;
            display: inline-block;
            font-size: .9em;
            margin-bottom: 20px;
        }
    }
    
    .cta {
        background: #7700FF;
        border: none;
        color: white;
    
        text-transform: uppercase;
        border-radius: 4px;
        padding: 1em;
        cursor: pointer;
        font-family: 'Montserrat';
    }
    
    .results {
        margin-top: 50px;
    
        strong {
            display: block;
        }
        span {
            margin-bottom: 20px;
            display: block;
        }
    }