@import 'compass';
@import 'base/variables';
@import 'base/fonts';

*{
box-sizing: border-box;
}

/* body{
        font-family: $mainFont;
        background: rgb(221, 221, 221);
} */
.backback{
        background: rgb(221, 221, 221); 
}
section{
        font-family: $mainFont;
       /*  background: rgb(221, 221, 221); */
}

#sideMenu{

        background: $darkblue;
      /*   max-width: 280px; */
        width: 280px;
        position: fixed;
        top : 0px;
        bottom: 0px;


        nav{

              /*   padding-top: 100px; */
                padding-top: 74px;
         a{

                display: block;
                color: $greensea;
                text-decoration: none;
                padding: 15px 30px;
                font-weight: 500;
                transition: all 0.5s ease-in-out;

                &:hover{
                        background: rgb(115, 230, 191);
                        border-left: 5px solid $blue;
                        padding: 15px 30px 15px 25px;
                        color: $black;


                        .fa{
                                color: palevioletred;
                        }



                }

                .fa{

                        font-size: 1.4rem;
                        margin-right: 0.8rem;
                        display: inline-block;
                        width: 30px;
                        position: relative;
                        top :2px;
                }

                &.active{
                        background: $black;
                        border-left: 5px solid $blue;
                        padding: 15px 30px 15px 25px;
                        color: $emeraude;
                }

         }       
        }



}


.wrapper{
        display:grid;
        padding: 25px;
        /* grid-template-columns:1fr 1fr 1fr;*/
        grid-template-columns:repeat(3, 1fr);
        /* grid-gap:1em; */
        grid-gap:12px;
        padding: 12px 0;
        margin: 13px 1px;
        /* grid-auto-rows:100px; */
        grid-auto-rows: minmax(200px, auto);
       
      }
  
      /* .nested{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-auto-rows: 70px;
        grid-gap:1em;
      } */
  
      .wrapper > div{
        background:red;
        border-radius: 10px;
        padding:1em;
      }
      .wrapper > div:nth-child(odd){
        background:green;
      }
  

     /*  .nested > div{
        border:#333 1px solid;
        padding:1em;
      }
 */




#content-area{
       
        margin-left: 280px;
        padding: 15px;


        .heading{
                margin-left: 15px;

                h1{

                        color: purple;
                        font-size: 1.4rem;
                        font-weight: 800;
                        margin-bottom: 10px;
                }

                p{

                        color: black;
                        font-size: 0.8rem;
                        margin-bottom: 10px;

                }
        }

    
                .card{
                        background: white;
                        border-radius: 5px;
                        padding: 20px;
                        overflow: auto;
                       
                        .user-img{
                                background: url(https://icdn2.digitaltrends.com/image/shows-to-stream-john-wick-2.jpg) no-repeat center center fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                width: 85px;
                                height: 85px;
                                border-radius: 50%;
                                margin: 0 auto;
                        }

                        .user-name{
                                font-size: 1rem;
                                color: purple;
                                display: block;
                                text-align: center;
                                margin:  10px 0;

                        }
                        .user-title{
                                display: block;
                                font-size: 0.8rem;
                                text-align: center;
                                margin:  10px 0;
                        }
                        .education{

                                font-size: 0.8rem;
                                display: inline-block;
                        }

                        .school{

                                font-size: 0.8rem;
                        }
        

                        h6{
                                font-size: 0.8rem; 
                        }
                        .date{
                                font-size: 1.3rem ;
                                display: block;
                                border-left: 5px solid $emeraude;
                                position: relative;
                                left: -20px;
                                padding: 5px 15px;
                                margin: 20px 0;

                        }
                        .job-type{
                                background: orange;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                font-size: 0.6rem;
                                color: white;
                                padding: 5px;
                                display: inline-block;
                                text-align: center;
                                vertical-align: middle;
                        }
                        .location{
                                display: block;
                                font-size: 0.8rem;
                                font-weight: 500;
                                margin-bottom: 0.5rem;

                        }

                        .position{

                                display: block;
                                font-size: 0.8rem;
                                font-weight: 500;
                                margin-bottom: 0.5rem;

                        }

                }
        


table{

        width: 100%;
        border-spacing: 1px;
        margin-top: 25px;
        margin-bottom: 25px;
      
       

thead{
        background: gray;

       

       
        th{
                
                font-size: 0.8rem;
                text-transform: uppercase;
                font-weight: 500;
                text-align: left;
                padding: 20px 10px;
        }


}


tbody{

        background: white;
        font-size: 0.8rem;

        td{

                padding: 20px 10px;
        }


}


}
}