@import 'compass';
@import 'base/variables';
@import 'base/fonts';
@import 'theme/title';
@import 'theme/padding';
header {

    background-image:url("/assets/images/bg-header.png");

    .overlay{
        background-color: rgba(96,96,96,0.7);
        width:100%;
        height: 100vh;
        margin: 0;
        padding: O;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }


}

.logoone{
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.blockcolumn {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.blockone{

    background-color: #2091DC;
    height: 100vh;
    margin: 0;
    padding: O;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.blocktwo{

    background-color: white;
    height: 100vh;
    margin: 0;
    padding: O;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.blockthree{

    background-image : url("/assets/images/BG.png");
    height: 100vh;
    margin: 0;
    padding: 60px;
    text-align: center;
   /*  display: flex;
    flex-direction: row;
    justify-content: space-evenly; */

}

.containertwo {
    margin: 0 32px 0 32px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.containerthree {
    margin: 0 32px 0 32px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


    //form inscription

    .containerform{
      background-image : url("/assets/images/BG.png");
      position: relative;
      height: 100vh;
      /* max-width:1170px; */
      margin-left:auto;
      margin-right:auto;
      padding:1em;
      
    }      


.blockform{
  position: absolute;
  width: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 25px;
  background-color: #FFFFFF;
  box-shadow: 5px 13px 26px 6px rgba(172,166,166,0.5);
  /* display: flex;
  padding: 40px;
  justify-content: space-evenly;  */
}

.grid-form{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
   /*  width: 700px; */
  /*  justify-content: space-evenly;  */
 
}
.grid-items{
width: 250px;
}



.btnmargin{

    margin-top: 60px;
}
.btnup{
    margin-left:auto;
    margin-right:auto;

}
.btnone{
    margin-left:auto;
    margin-right:auto;
}

.paragraph{

    text-align: center;
    margin-left:auto;
    margin-right:auto;
    height: 20px;
    width: 644px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2.5px;
    line-height: 20px;

}
.paragraphbold{
    text-transform: uppercase;
    text-align: justify;
    margin-left:auto;
    margin-right:auto;
    height: 20px;
    width: 644px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 20px;

}

.blockone-container{
    text-align: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
 
  }

.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
   /*  justify-content: space-between; */
  }
  
.grid-container {
    display: grid;
  /*   margin-left: auto;
    margin-right: auto; */
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    /* grid-row-gap: 3em; */
  }

  .oval {
      box-sizing: border-box;
      height: 50px;	width: 50px;
      border: 2px solid #FFFFFF;
      border-radius: 27.5px;
      text-align: center;
    }

ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;

        li {
            position: relative;
            margin: 0 6px 0 6px;
            color: #FFFFFF;

            a{
                text-align: center;
                color: #FFFFFF;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }

    .ovalgreen {

        box-sizing: border-box;
        height: 50px;	width: 50px;
        padding: 10px 0 0 0;
        border: 2px solid $emeraude;
        background-color: $emeraude;
        border-radius: 27.5px;
        text-align: center;
        color: #FFFFFF;

      }


      .contact{
        background:#f9feff;
      }
      
      /* FORM STYLES */
      .contact form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
      }
      
      .contact form label{
        display:block;
      }
      
      .contact form p{
        margin:0;
      }
      
      .contact form .full{
        grid-column: 1 / 3;
      }
      
      .contact form button, .contact form input, .contact form textarea{
        width:100%;
        padding:1em;
        border:1px solid #c9e6ff;
      }
      
      .contact form button{
        background:#c9e6ff;
        border:0;
        text-transform: uppercase;
      }
      
      .contact form button:hover,.contact form button:focus{
        background:#92bde7;
        color:#fff;
        outline:0;
        transition: background-color 2s ease-out;
      }

      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .modal-content {
        margin: 10% auto;
        width: 60%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: var(--modal-duration);
      }
      
      .modal-header h2,
      .modal-footer h3 {
        margin: 0;
      }
      
      .modal-header {
        background: var(--modal-color);
        padding: 15px;
        color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      
      .modal-body {
        padding: 10px 20px;
        background: #fff;
      }
      
      .modal-footer {
        background: var(--modal-color);
        padding: 10px;
        color: #fff;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .close {
        color: #ccc;
        float: right;
        font-size: 30px;
        color: #fff;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
      


      @keyframes modalopen {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .animez{
        animation: rot 3s infinite alternate ease-in-out forwards;
      }

      @keyframes rot {
       
        to {
          
          transform: rotate(50deg);
        }
      }
      .animeone{
        animation: blink 2s infinite alternate ease-in-out forwards;
      }

      @keyframes blink {
       /*  from {

          fill: initial;
          
        } */
     
        to {
          
          fill: $white;
        }
      }

    .primary-anime{
     
    }
    
    .primary-anime:hover {
    
      
      animation: blink 2s infinite alternate ease-in-out forwards;
    }
  
    .secondary-anime{
     
    }
    
    .secondary-anime:hover {
      animation: rot 3s infinite alternate ease-in-out forwards;
    }
    .third-anime{
      &:hover{
        #Fill-11{
          animation: rot 3s infinite alternate ease-in-out forwards;
        }
      }
    }

    
    /* .third-anime:hover {
      animation: rot 3s infinite alternate ease-in-out forwards;
    } */


    @-moz-keyframes bounceDown {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }


    @-webkit-keyframes bounceDown {
      0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
      }
      60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    @keyframes bounceDown {
      0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      40% {
        -moz-transform: translateY(-17px);
        -ms-transform: translateY(-17px);
        -webkit-transform: translateY(-17px);
        transform: translateY(-17px);
      }
      60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
      }
    }
    

    .fa-angle-down {
      -moz-animation: bounceDown 2s infinite;
      -webkit-animation: bounceDown 2s infinite;
      animation: bounceDown 2s infinite;
    /* text-align:center; */
      /* display:block; */
    }