@import 'base/variables';
@import 'theme/padding';
@import'module/home';

.navy{

        padding: 15px;
        background: $darkblue;

        .search-area{
                display: inline-block;
                padding: 10px;
                .fa{
                        color: grey;
                     /*    margin-right: 50px; */

                }
                input[type="text"]{
                        background: transparent;
                        border: none;
                        border-radius: 7px;
                        font-size: 1rem;
                        color: black;
                        padding: 10px;
                        font-weight: 100;
                        width: 70%;
                        transition:  all 0.5s ease-in-out;

                        &:hover{
                                background: rgba(255, 255, 255, 0.598);
                        }

                }
        }
        .user-area{
                display: inline-block;
                float: right;
                padding: 10px;

                a{

                        display: inline-block;
                        padding-right: 20px;
                        text-decoration: none;

                        vertical-align: top;
                        height: 30px;


                        &.add{
                                font-size: 16px;
                                font-weight: 800;
                                top: 5px;
                                padding-top: 7px;
                        }


                        &.notification{
                                position: relative;
                                font-size: 20px;
                                padding-top: 5px;


                                .circle{

                                        display: inline-block;
                                        background: red;
                                        width: 15px;
                                        height: 15px;
                                        font-size: 12px;
                                        border-radius: 50%;
                                        color: white;
                                        text-align: center;
                                        position: absolute;
                                        top: -2px;
                                        left: 7px;
        
                                }

                        }



                        .user-img{
                         background: url(https://d3iw72m71ie81c.cloudfront.net/female-17.jpg) no-repeat center center fixed; 
                                -webkit-background-size: cover;
                                -moz-background-size: cover;
                                -o-background-size: cover;
                                background-size: cover;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                display: inline-block;
                                margin-right: 10px;
                        }
                        
                        .fa-caret-down{
                                position: relative;
                                top: -8px;
                        }
                }
        }
        

}