@mixin alignAbsolute() {
  position: absolute;
  left: 50%;
  top: 50%;
  @include translate(-50%,-50%);
}

@mixin displayFlex(){
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
}
