$greyLight:#e8b9b9;
$greyDark:#7b7a7a;
$anthracite:#16482f;

//new ones
$white:#FFFFFF;
$emeraude: #2ECC71;
$greensea: #1ABC9C;
$black:#434242;
$lightgrey : #ECF0F1;
$darkgrey: #95A5A6;
$darkblue: #34495E;
$blue:#2091DC;




$mainColor:$white;

$mainFont:'Montserrat', serif;;
$secondFont:'Poppins', sans-serif;

$screen-xs:480px;
$screen-md:720px;
$screen-lg:1080px;
