<body>

  <section id="sideMenu">
    <nav>
      <a href="#" class="active"> <i class="fas fa-tachometer-alt"></i> Dashboard</a>

      <a href="#"><i class="fas fa-chart-area"></i> Stats</a>
      <a href="#"><i class="fas fa-mail-bulk"></i> Mails</a>
      <a href="#"><i class="far fa-calendar-alt"></i> Schedules</a>
    </nav>
  </section>

  <section id="content-area">

    <div class="col-md-12">
      <div class="heading">
        <h1>Dashboard</h1>
        <p></p>
      </div>
    </div>
      
    <div class="cards">

      <div class="col-md-4">
        <div class="card">
          <div class="user-img"></div>
          <span class="user-name"> jhon wick</span>
          <span class="user-title"> hitman</span>
          <hr>
          <div class="col-md-3">
            <span class="education"> hit em</span>
          </div>
          <div class="col-md-9">
            <span class="schools">the continental</span>
            <span class="schools">the continental</span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h6>schedules </h6>
          <span class="date"> 12/12/12</span>
          <div class="col-md-2">
            <span class="job-type"> hit em</span>
          </div>
          <div class="col-md-10">
            <span class="location">the continental</span>
            <span class="position">the continental</span>
            <span class="time">4/20</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h6>schedules </h6>
          <span class="date"> 12/12/12</span>
          <div class="col-md-2">
            <span class="job-type"> hit em</span>
          </div>
          <div class="col-md-10">
            <span class="location">the continental</span>
            <span class="position">the continental</span>
            <span class="time">4/20</span>
          </div>
        </div>
      </div>



      
    </div>

    <table>
      <thead>
        <tr>
          <th>company</th>
          <th>address</th>
          <th>contact</th>
          <th>mail</th>
          <th>phone</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
        <tr>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt</td>
          <td>text tex tex ttexxt </td>
          <td>text tex tex ttexxt </td>
        </tr>
      </tbody>
    </table>
  </section>




</body>