@import url("https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900");
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  background: #dddddd;
}

#sideMenu {
  background: #34495E;
  /*   max-width: 280px; */
  width: 280px;
  position: fixed;
  top: 0px;
  bottom: 0px;
}
#sideMenu nav {
  /*   padding-top: 100px; */
  padding-top: 74px;
}
#sideMenu nav a {
  display: block;
  color: #1ABC9C;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
#sideMenu nav a:hover {
  background: #73e6bf;
  border-left: 5px solid #2091DC;
  padding: 15px 30px 15px 25px;
  color: #434242;
}
#sideMenu nav a:hover .fa {
  color: palevioletred;
}
#sideMenu nav a .fa {
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}
#sideMenu nav a.active {
  background: #434242;
  border-left: 5px solid #2091DC;
  padding: 15px 30px 15px 25px;
  color: #2ECC71;
}

#content-area {
  margin-left: 280px;
  padding: 15px;
}
#content-area .heading {
  margin-left: 15px;
}
#content-area .heading h1 {
  color: purple;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 10px;
}
#content-area .heading p {
  color: black;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#content-area .cards {
  overflow: auto;
}
#content-area .cards .card {
  background: white;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
}
#content-area .cards .card .user-img {
  background: url(https://icdn2.digitaltrends.com/image/shows-to-stream-john-wick-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;
}
#content-area .cards .card .user-name {
  font-size: 1rem;
  color: purple;
  display: block;
  text-align: center;
  margin: 10px 0;
}
#content-area .cards .card .user-title {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin: 10px 0;
}
#content-area .cards .card .education {
  font-size: 0.8rem;
  display: inline-block;
}
#content-area .cards .card .school {
  font-size: 0.8rem;
}
#content-area .cards .card h6 {
  font-size: 0.8rem;
}
#content-area .cards .card .date {
  font-size: 1.3rem;
  display: block;
  border-left: 5px solid #2ECC71;
  position: relative;
  left: -20px;
  padding: 5px 15px;
  margin: 20px 0;
}
#content-area .cards .card .job-type {
  background: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.6rem;
  color: white;
  padding: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#content-area .cards .card .location {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#content-area .cards .card .position {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#content-area table {
  width: 100%;
  border-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#content-area table thead {
  background: gray;
}
#content-area table thead th {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  padding: 20px 10px;
}
#content-area table tbody {
  background: white;
  font-size: 0.8rem;
}
#content-area table tbody td {
  padding: 20px 10px;
}

.col-md-2 {
  width: 16%;
  padding: 0 15px;
  display: inline-block;
}

.col-md-3 {
  width: 25%;
  padding: 0 15px;
  display: inline-block;
}

.col-md-4 {
  width: 33%;
  padding: 0 15px;
  display: inline-block;
}

.col-md-9 {
  width: 75%;
  padding: 0 15px;
  display: inline-block;
}

.col-md-10 {
  width: 83%;
  padding: 0 15px;
  display: inline-block;
}
