@import url("https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900");
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  box-sizing: border-box;
}

/* body{
        font-family: $mainFont;
        background: rgb(221, 221, 221);
} */
.backback {
  background: #dddddd;
}

section {
  font-family: "Montserrat", serif;
  /*  background: rgb(221, 221, 221); */
}

#sideMenu {
  background: #34495E;
  /*   max-width: 280px; */
  width: 280px;
  position: fixed;
  top: 0px;
  bottom: 0px;
}
#sideMenu nav {
  /*   padding-top: 100px; */
  padding-top: 74px;
}
#sideMenu nav a {
  display: block;
  color: #1ABC9C;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
#sideMenu nav a:hover {
  background: #73e6bf;
  border-left: 5px solid #2091DC;
  padding: 15px 30px 15px 25px;
  color: #434242;
}
#sideMenu nav a:hover .fa {
  color: palevioletred;
}
#sideMenu nav a .fa {
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 2px;
}
#sideMenu nav a.active {
  background: #434242;
  border-left: 5px solid #2091DC;
  padding: 15px 30px 15px 25px;
  color: #2ECC71;
}

.wrapper {
  display: grid;
  padding: 25px;
  /* grid-template-columns:1fr 1fr 1fr;*/
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap:1em; */
  grid-gap: 12px;
  padding: 12px 0;
  margin: 13px 1px;
  /* grid-auto-rows:100px; */
  grid-auto-rows: minmax(200px, auto);
}

/* .nested{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows: 70px;
  grid-gap:1em;
} */
.wrapper > div {
  background: red;
  border-radius: 10px;
  padding: 1em;
}

.wrapper > div:nth-child(odd) {
  background: green;
}

    /*  .nested > div{
       border:#333 1px solid;
       padding:1em;
     }
*/
#content-area {
  margin-left: 280px;
  padding: 15px;
}
#content-area .heading {
  margin-left: 15px;
}
#content-area .heading h1 {
  color: purple;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 10px;
}
#content-area .heading p {
  color: black;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
#content-area .card {
  background: white;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
}
#content-area .card .user-img {
  background: url(https://icdn2.digitaltrends.com/image/shows-to-stream-john-wick-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;
}
#content-area .card .user-name {
  font-size: 1rem;
  color: purple;
  display: block;
  text-align: center;
  margin: 10px 0;
}
#content-area .card .user-title {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  margin: 10px 0;
}
#content-area .card .education {
  font-size: 0.8rem;
  display: inline-block;
}
#content-area .card .school {
  font-size: 0.8rem;
}
#content-area .card h6 {
  font-size: 0.8rem;
}
#content-area .card .date {
  font-size: 1.3rem;
  display: block;
  border-left: 5px solid #2ECC71;
  position: relative;
  left: -20px;
  padding: 5px 15px;
  margin: 20px 0;
}
#content-area .card .job-type {
  background: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.6rem;
  color: white;
  padding: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#content-area .card .location {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#content-area .card .position {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#content-area table {
  width: 100%;
  border-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#content-area table thead {
  background: gray;
}
#content-area table thead th {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  padding: 20px 10px;
}
#content-area table tbody {
  background: white;
  font-size: 0.8rem;
}
#content-area table tbody td {
  padding: 20px 10px;
}
