footer {
  background-color: #34495E;
  padding: 0 25px;
  /*  width: 100%; */
  bottom: 0%;
  /* position: fixed; */
}

.right {
  margin-right: 0px;
}

.oval {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 27.5px;
  text-align: center;
}

ul {
  /*  margin-right: 30px; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
ul li {
  padding: 12px;
  margin: 0 6px 0 6px;
  color: #FFFFFF;
}
ul li a {
  text-align: center;
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  color: #FFFFFF;
  font-family: "Montserrat", serif;
  font-size: 15px;
  letter-spacing: 1.86px;
  text-align: center;
  margin-left: 40px;
}
