<!-- <app-navigation></app-navigation> -->
<div id="wrapper">
  <div id="left">
    <div id="signin">
      <div class="logo">
        <img src="/assets/images/logosmall.svg" alt="wad" />
      </div>
      <form [formGroup]="messageForm"  >
        <div>
          <label>Email or username</label>
          <input type="email" class="text-input" />
        </div>
        <div>
          <label>Password</label>
          <input type="password" class="text-input" />
        </div>
        <button type="submit" class="primary-btn">Sign In</button>
      </form>
      <div class="links">
        <a href="#">Forgot Password</a>
        <a href="/signin">Sign in with company or school</a>
      </div>
      <div class="or">
        <hr class="bar" />
        <span>OR</span>
        <hr class="bar" />
      </div>
      <a href="/signin" class="secondary-btn">Create an account</a>
    </div>
    <footer id="main-footer">
      <p>Copyright &copy; 2018, WeAreData All Rights Reserved</p>
      <div>
        <a href="#">terms of use</a> | <a href="#">Privacy Policy</a>
      </div>
    </footer>
  </div>



  <div id="right">
    <div id="showcase">
      <div class="overlayshow"> 

        <div class="showcase-content">
          <h1 class="showcase-text">
            Let's create the future <strong>together</strong>
          </h1>
         <!--  <a href="#" class="secondary-btn">Start a FREE 10-day trial</a> -->
        </div>
        
      </div>

    </div>
  </div>

  
</div>