<app-navigation></app-navigation>
<body>
  <div class="container">
    <h1 class="brand"><span></span> We Are Data</h1>

    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>we are Data</h3>
        <ul>
          <li><i class="fa fa-road"></i> 12 rue anatole france</li>
          <li><i class="fa fa-phone"></i> 0612345678</li>
          <li><i class="fa fa-envelope"></i> test@test.test</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()"> 
          <!-- <p>
            <label>Name</label>
            <input type="text" name="name">
          </p> -->
          
          <label>
            Name:
            <input type="text" formControlName="name">
            <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
              <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
            </div>
          </label>
          
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>


         <!--  <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p> -->

          <label class="full">
            Message:
            <textarea formControlName="message"></textarea>
            <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
              <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
            </div>
          </label>


          <p class="full">
            <button>Submit</button>
          </p>
        </form>


        <!-- mock -->
        <div *ngIf="submitted" class="results">
          <strong>Name:</strong> 
          <span>{{ messageForm.controls.name.value }}</span>
      
          <strong>Message:</strong> 
          <span>{{ messageForm.controls.message.value }}</span>
        </div> 


      </div>
    </div>
  </div>
</body>
<!-- 

<h1>Contact us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
      Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
      </div>
    </label>
  
    <label>
      Message:
      <textarea formControlName="message"></textarea>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
      </div>
    </label>

    <input type="submit" value="Send message" class="cta">
  
  </form>

  <div *ngIf="submitted" class="results">
    <strong>Name:</strong> 
    <span>{{ messageForm.controls.name.value }}</span>

    <strong>Message:</strong> 
    <span>{{ messageForm.controls.message.value }}</span>
  </div> -->