header {

    background-image:url("/src/assets/images/bg-header.png");


    .overlay {
        height: 827px;
        width: 1452.99px;
        background-color: rgba(96,96,96,0.7);}


    .logo {
        font-weight: bold;
    }



    nav {
        justify-self: right;

        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #8E2BFF;
                    }
                }
            }
        }
    }
}


.democratisez-l-acces {	
    position: relative;
    text-align: center;
    height: 20px;
    width: 644px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3.1px;
    line-height: 20px;
}

button{
    position: center;
    align-self: center;
    text-align: center;
    border: #8E2BFF;
}