<div class="navy">
        <div class="search-area">
               
                <i class="fas fa-search"></i>
                <input type="text" name="" value="">

        </div>
        
        <div class="user-area">

                <a href="#" class="add">+ add</a>

                <a href="#" class="notification">
                        <i class="fas fa-bell"></i>
                        <span class="circle">3</span></a>

                <a href="#">
                        <div class="user-img"> </div>
                        <i class="fas fa-caret-down"></i>
                      
                </a>
        </div>
</div>