<app-nav></app-nav>
<section id="sideMenu">
  <nav>
    <a href="/dashboard"> <i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a href="/clients"><i class="fas fa-user-tie"></i> Clients</a>
    <a href="/sales" class="active"><i class="fas fa-search-dollar"></i> Sales</a>
    <a href="/stats"><i class="fas fa-chart-area"></i> Stats</a>
    <a href="#"><i class="far fa-calendar-alt"></i> Schedules</a>
  </nav>
</section>

<section id="content-area">

  <div class="col-md-12">
    <div class="heading">
      <h1>Sales</h1>
      <p></p>
    </div>
  </div>



  <div class="wrapper">

    <div class="card">
      <div class="user-img"></div>
      <span class="user-name"> jhon wick</span>
      <span class="user-title"> hitman</span>
      <hr>
      <div class="col-md-3">
        <span class="education"> hit em</span>
      </div>
      <div class="col-md-9">
        <span class="schools">the continental</span>
        <span class="schools">the continental</span>
      </div>
    </div>


    <div class="card">
      <h6>schedules </h6>
      <span class="date"> 12/12/12</span>
      <div class="col-md-2">
        <span class="job-type"> hit em</span>
      </div>
      <div class="col-md-10">
        <span class="location">the continental</span>
        <span class="position">the continental</span>
        <span class="time">4/20</span>
      </div>
    </div>


    <div class="card">
      <h6>schedules </h6>
      <span class="date"> 12/12/12</span>
      <div class="col-md-2">
        <span class="job-type"> hit em</span>
      </div>
      <div class="col-md-10">
        <span class="location">the continental</span>
        <span class="position">the continental</span>
        <span class="time">4/20</span>
      </div>
    </div>


  </div>

  <table>
    <thead>
      <tr>

        <th>N° Facture</th>
        <th>Produit</th>
        <th>Client</th>
        <th>Date</th>
        <th>Quantité</th>
        <th>Price (ht)/unit</th>
        <th>catégorie</th>
        <th>Secteur</th>
        <th>TVA</th>
        <th>HT</th>
        <th>TTC</th>

      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let item of sales; index as i;">
        <td>{{i + 1}}</td>
        <td>{{item.product}}</td>
        <td>{{item.client}}</td>
        <td>{{item.createdDate | date:'medium'}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.ht / item.quantity}}</td>
        <td>{{item.field}}</td>
        <td>{{item.sector}}</td>
        <td>{{item.tva}}</td>
        <td>{{item.ht}}</td>
        <td>{{item.ht + ((item.ht * item.tva) / 100)}}</td>
      </tr>

    </tbody>
  </table>
</section>