@import url("https://fonts.googleapis.com/css?family=Montserrat:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900");
@import url("https://fonts.googleapis.com/css?family=Poppins");
p {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat", serif;
}

.btn {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 19px;
}

.btn-small {
  padding: 10px;
  font-size: 12px;
}
.btn-md {
  padding: 10px 20px;
  font-size: 14px;
}
.btn-lg {
  padding: 30px;
  font-size: 18px;
}

.btn-pointer {
  cursor: pointer;
}
.btn-white {
  background-color: white;
  color: black;
}
.btn-white:hover {
  background-color: grey;
}
.btn-black {
  background-color: black;
  color: white;
}
.btn-black:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.btn-green {
  background-color: #2ECC71;
  color: white;
  border: 0;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-red {
  background-color: red;
  color: white;
}
.btn-red:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.btn-roundedgreen {
  background-color: #2ECC71;
  color: white;
}
.btn-roundedgreen:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.btn-roundedblue {
  background-color: #2091DC;
  color: white;
  width: 270px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #2091DC;
  border-radius: 27.5px;
  box-shadow: 2px 3px 7px 0 rgba(75, 75, 75, 0.5);
}
.btn-roundedblueborderwhite {
  background-color: #2091DC;
  color: #FFFFFF;
  width: 140px;
  height: 50px;
  border: 2px solid #FFFFFF;
  margin-right: 16px;
  border-radius: 27.5px;
  box-shadow: 2px 3px 7px 0 rgba(75, 75, 75, 0.5);
}
.btn-roundedclearwhite {
  background-color: transparent;
  color: #FFFFFF;
  width: 140px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 27.5px;
  box-shadow: 2px 3px 7px 0 rgba(75, 75, 75, 0.5);
}
.btn-roundedcleargrey {
  background-color: #2091DC;
  color: #FFFFFF;
  width: 140px;
  height: 50px;
  border: 2px solid #2091DC;
  margin-right: 16px;
  border-radius: 27.5px;
  box-shadow: 2px 3px 7px 0 rgba(75, 75, 75, 0.5);
}
.btn-clearwhite {
  background-color: transparent;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 55px;
  border: 3.5px solid #FFFFFF;
  box-shadow: 2px 3px 7px 0 rgba(75, 75, 75, 0.5);
}
.btn-greensea {
  background-color: #1ABC9C;
  color: white;
}
.btn-greensea:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.btn-lightgrey {
  background-color: #ECF0F1;
  color: white;
}
.btn-lightgrey:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.btn-roundedlightgrey {
  background-color: #ECF0F1;
  color: white;
}
.btn-roundedlightgrey:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

h1 {
  font-family: "Montserrat", serif;
  color: #FFFFFF;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.titlemain {
  font-family: "Montserrat", serif;
}
.titlemain--white {
  color: #FFFFFF;
}

.titlescnd {
  font-family: "Poppins", sans-serif;
}
.titlescnd--white {
  color: #FFFFFF;
}

title-green {
  color: #2ECC71;
}

.title--xs {
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat", serif;
  letter-spacing: normal;
}
.title--small {
  font-size: 18px;
  line-height: 40px;
}
.title--small--green {
  color: #2ECC71;
}
.title--medium {
  font-size: 32px;
  line-height: 40px;
}
.title--xlarge {
  font-size: 42px;
  line-height: 40px;
}

.text-weight--bold {
  font-weight: bold;
}
.text-weight--bold--upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.centerwhite {
  text-align: center;
  color: #FFFFFF;
}

.margin-up {
  margin-top: 50px;
}

.margin-up-down {
  margin-top: 50px;
  margin-bottom: 50px;
}

.margin--left {
  margin-left: 25px;
}

.margin--leftz {
  margin-left: 75px;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title-footer-left {
  position: absolute;
  bottom: 3%;
  left: 2%;
}

.title-footer-right {
  position: absolute;
  bottom: 3%;
  right: 2%;
}

.title-header-right {
  position: absolute;
  top: 3%;
  right: 2%;
}

.psmall {
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}

.inputform {
  height: 35px;
  width: 225px;
  border: 1px solid #34495E;
  border-radius: 4px;
  font-size: 15px;
}

body, html {
  margin: 0;
}

/*  body {
     font-family: 'Montserrat';
     margin: 0;
     font-size: 18px;
     display: grid;
     grid-template-rows: auto;
     justify-items: center;
     align-items: center;
 } */
