.main-footer{
    padding:20px 0;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    .social-links{
        padding-left: 20px;
        a{
            text-decoration: none;
            color: $mainColor;
        }
    }
}
