.main-header{
    background-color: $greyLight;
    height: 100vh;
    position: relative;
}

.menu-wrapper{
    @include displayFlex;
    &.sticky{
        position: fixed;
        background: white;
        width: 100%;
        z-index: 999;
        box-shadow: 3px 3px 3px #bdabab8c;
    }
}

.main-menu{
    @include displayFlex;
    ul{
        list-style: none;
        @include displayFlex;
    }
    li{
        padding:20px;
        a{
            font-size: 12px;
            text-transform: uppercase;
            font-family: $secondFont;
            letter-spacing: 3px;
            color: $mainColor;
            text-decoration: none;
        }
    }
    .social-links{
        a{
            text-decoration: none;
            color: black;
        }
    }
}
.headline-wrapper{
    @include alignAbsolute;
    h1{
        font-family: $secondFont;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 300;
        color: black;
        padding-bottom: 10px;
    }
    h2{
        font-size: 40px;
        text-transform: uppercase;
        font-family: $mainFont;
        padding-bottom: 10px;
        line-height: 60px;
    }
    @media(max-width: $screen-xs){
        position: relative;
    }
}
