<div class="navy">


        <div class="title-header-right">

                <button [routerLink]="['/login']" class="btn btn-pointer btnmarginright btn-roundedclearwhite">SignIn</button>
                <button [routerLink]="['/contact']" class="btn btn-pointer btn-roundedclearwhite" (click)="firstClick()">Contact</button>
        </div>
        <div class="search-area">
                        
                <button [routerLink]="['/']" class="btn btn-pointer btn-roundedclearwhite btnmarginright">Home</button>

        </div>

        <!--   <div class="user-area">

          <a href="#" class="add">+ add</a>

          <a href="#" class="notification">
                  <i class="fas fa-bell"></i>
                  <span class="circle">3</span></a>

          <a href="#">
                  <div class="user-img"> </div>
                  <i class="fas fa-caret-down"></i>
                
          </a>
  </div> -->
</div>