/* body, html {
        height: 100%;
        margin: 0;
    }
    
    body {
        font-family: 'Montserrat';
        margin: 0;
        font-size: 18px;
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    } */
    
  /*   h2{
    
        font-family: 'Montserrat';
        color: white;
        margin: 0;
        font-size: 25px;
        text-transform: uppercase;
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    
    
    } */
   /*  
    a {
        text-decoration: none;
    } */
    
    /* .container {
        width: 80%;
        margin: 0 auto;
        padding: 1.3em;
        display: grid;
        grid-template-columns: 30% auto;
    
        a {
            color: white;
        }
    } */
    
    /* section {
        width: 100%;
        margin: 0 auto;
        padding: 0em;
    } */
    
    /* footer {
        height: 126px;
        width: 100%;
        background-color: #34495E;
    
    } *//* 
    
    .bottomright {
        position: absolute;
        bottom: 8px;
        right: 16px;
        font-size: 18px;
    }
    
    .flexbox-container {
        position: absolute;
        right: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
      }
    
    .hidden{
        display: none;
        visibility: hidden;
    }
    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
     */