.btn{
    font-family: $mainFont;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
}
//    @include transition(0.3s all);
.btn{
    &-small{
        padding:10px;
        font-size: 12px;
    }
    &-md{
        padding:10px 20px;
        font-size: 14px;
    }
    &-lg{
        padding:30px;
        font-size: 18px;
    }
}

.btn{

    &-pointer{
        cursor: pointer;
    }

    &-white{
        background-color: white;
        color: black;
        &:hover{
            background-color: grey;
        }
    }
    &-black{
        background-color: black;
        color: white;
        &:hover{
            background-color: white;
            border:1px solid black;
            color: black;
        }
    }
    &-green{
        background-color: $emeraude;
        color: white;
        border:0;
        border-radius: 3px;
        margin-left: auto;
        margin-right: auto;
    }
    &-red{
        background-color: red;
        color: white;
        &:hover{
            background-color: white;
            border:1px solid black;
            color: black;
        }
    }
    &-roundedgreen{
        background-color: $emeraude;
        color: white;
        &:hover{
            background-color: white;
            border:1px solid black;
            color: black;
        }
    }
    &-roundedblue{
        background-color: $blue;
        color: white;
        width: 270px;
        height: 55px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #2091DC;
        border-radius: 27.5px;
        box-shadow: 2px 3px 7px 0 rgba(75,75,75,0.5);
    }
    &-roundedblueborderwhite{
        background-color:$blue;
        color: $white;
        width: 140px;
        height: 50px;
        border: 2px solid $white;
        margin-right:16px; 
        border-radius: 27.5px;
        box-shadow: 2px 3px 7px 0 rgba(75,75,75,0.5);
    }
    &-roundedclearwhite{
        background-color: rgba(0, 0, 0, 0);;
        color: $white;
        width: 140px;
        height: 50px;
        border: 2px solid $white;
        border-radius: 27.5px;
        box-shadow: 2px 3px 7px 0 rgba(75,75,75,0.5);
    }
    &-roundedcleargrey{
        background-color:$blue;
        color: $white;
        width: 140px;
        height: 50px;
        border: 2px solid $blue;
        margin-right:16px; 
        border-radius: 27.5px;
        box-shadow: 2px 3px 7px 0 rgba(75,75,75,0.5);
    }
    &-clearwhite{
        background-color: rgba(0, 0, 0, 0);;
        color: $white;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: 55px;
        border: 3.5px solid $white;
        box-shadow: 2px 3px 7px 0 rgba(75,75,75,0.5);
    }
    &-greensea{
        background-color: $greensea;
        color: white;
        &:hover{
            background-color: white;
            border:1px solid black;
            color: black;
        }
    }
    &-lightgrey{
        background-color: $lightgrey;
        color: white;
        &:hover{
            background-color: white;
            border:1px solid black;
            color: black;
        }
    }
    &-roundedlightgrey{
        background-color: $lightgrey;
        color: white;
        &:hover{
            background-color: white;
            border:1px solid black;
            color: black;
        }
    }
}
