#modal{
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    z-index: 9999;
    padding: 60px;
    @include translate(-50%,-50%);
    text-align: center;
    display: none;
    height: 445px;
    width: 580px;
    background-color: #FFFFFF;
    box-shadow: 5px 13px 26px 6px rgba(172,166,166,0.5);


    &.active{
        display: block;
    }
}
