/* .padding-block{
    &--small{
        padding:20px 0;
    }
    &--medium{
        padding:40px 0;
    }
    &--lg{
        padding:80px 0;
    }
}
.test{
    li{
        font-size: 15px;
        &:first-of-type{
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.about-content{
    &.box-inline{

    }
}
.about-content.box-inline{

}

.about-content{
    .box-inline{

    }
}
.about-content .box-inline{

}
 */

 .inputpadding{
    padding: 0 8px;
 }
 .btnpadding{
     padding-top: 30px;
 }
 
 .btnmarginright{
    margin-right:16px; 
 }
 