h1{
    font-family: $mainFont;
    color: $mainColor;
}
h2{
    font-family: $secondFont;
}
.titlemain{
    font-family: $mainFont;
    
    &--white{
        color: $white;
    }
}
.titlescnd{
    font-family: $secondFont;

    &--white{
        color: $white;
    }
}

title-green{
    color: $emeraude;
}
.title{

    &--xs{
        font-size: 18px;
        line-height: 22px;
        font-family: $mainFont;
        letter-spacing: normal;

    }

    &--small{
        font-size: 18px;
        line-height: 40px;
        &--green{
            color: $emeraude;
        }
    }
    &--medium{
        font-size: 32px;
        line-height: 40px;

    }
    &--xlarge{
        font-size: 42px;
        line-height: 40px;
    }
}

.text-weight{
    &--bold{
        font-weight:bold;
        &--upper{
            text-transform: uppercase;
        }
    }
}

.center{
    text-align: center;
}
.centerwhite {
    text-align: center ;
    color: $white;
}

.margin-up{
    margin-top: 50px; 
}
.margin-up-down{

    margin-top: 50px;
    margin-bottom: 50px;
}

.margin--left{
    margin-left: 25px;
}
.margin--leftz{
    margin-left: 75px;
}
.title-wrapper{

    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.title-footer-left{

    position: absolute;
    bottom :3%;
    left: 2%;

}
.title-footer-right{

    position: absolute;
    bottom :3%;
    right: 2%;

}
.title-header-right{

    position: absolute;
    top :3%;
    right: 2%;

}
