<header>

    <section class="overlay">
        <!-- 

  <div id="my-modal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Modal Header</h2>
      </div>
      <div class="modal-body">
        <p>This is my modal</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit
          repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo
          commodi ab.</p>
      </div>
      <div class="modal-footer">
        <h3>Modal Footer</h3>
      </div>
    </div>
  </div> -->


        <div class="title-header-right">

            <button [routerLink]="['/signin']" class="btn btn-pointer btn-roundedcleargrey">SignUp</button>
            <button [routerLink]="['/login']" class="btn  btn-pointer btn-roundedclearwhite" (click)="firstClick()">SignIn</button>

        </div>


        <div class="title-wrapper">

            <p class="paragraph">Votre platforme de reporting et dataviz</p>

            <div class="logoone">
                <img src="../../assets/images/logobig.svg" alt="we are data">
            </div>

            <p class="paragraphbold">democratiser l'acces a votre données d'entreprise</p>


            <button [routerLink]="['/login']" class="btn btn-pointer btn-roundedblue btnmargin">Soyez les premiers !</button>



        </div>


        <div class="title-footer-left">

            <ul>
                <li class="oval">
                    <a href="https://www.facebook.com">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="oval">
                    <a href="https://www.twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="oval">
                    <a href="https://www.linkedin.com/">
                        <i class="fab  fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="title-footer-right">

            <button  class="btn btn-pointer btn-roundedclearwhite"
            (click)="scroll('formzz')"
            >explore <i class="fas fa-angle-down"></i></button>

        </div>


    </section>
</header>


<section class="blockone">

    <div class="blockone-container">

        <button class="btn btn-md btn-clearwhite">Voici WeAreData</button>

        <h2 class="titlemain title--xlarge text-weight--bold--upper centerwhite">Application de Dataviz<br>financière
            pour les pme</h2>

        <p class="centerwhite">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium labore <br>
            amet est asperiores, soluta distinctio dolor pariatur beatae, <br>
            adipisci eveniet recusandae tempore incidunt quos eaque fuga numquam, iste enim quisquam.</p>

        <div class="btnmargin">
            <div class="container">

                <div class="center">

            
                    <!-- <img src="../assets/images/icon1.svg" alt="icon 1"> -->
                <svg width="104px" height="104px" viewBox="0 0 104 104" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>icon1</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <polygon id="path-1" points="0.0120805921 0.00322149123 103.087719 0.00322149123 103.087719 103.087719 0.0120805921 103.087719"></polygon>
                            <polygon id="path-3" points="0.0120906801 0.00258563536 79.9828715 0.00258563536 79.9828715 71.9542541 0.0120906801 71.9542541"></polygon>
                        </defs>
                        <g id="icon1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="analytics">
                                <path d="M31.4189034,2 C27.8737526,2 25,4.91188923 25,8.50408652 L25,90.6178994 L74.3474639,90.6178994 L74.3474639,95.4957102 C74.3474639,99.0881108 77.2214172,102 80.7667686,102 C84.3119194,102 87.1858726,99.0879075 87.1858726,95.4957102 L87.1858726,8.50388326 C87.1858726,5.48020155 89.2223333,2.93885358 91.9811439,2.21016986 L92,2 L31.4189034,2"
                                    id="Fill-1" fill="#FFFFFF"></path>
                                <path d="M87,8.29509164 C87,4.81832191 89.9102628,2 93.5,2 C97.0899403,2 100,4.81832191 100,8.29509164 L100,26 L87,26 L87,8.29509164"
                                    id="Fill-2" fill="#EFA158"></path>
                                <path d="M75.6383171,91.4688897 L75.6383171,87 L16,87 L16,93.5 C16,97.0899403 18.8481557,100 22.3612853,100 L82,100"
                                    id="Fill-3" fill="#EFA158"></path>
                                <path d="M85.7986942,69 L99.4179218,82.6192276 C101.541938,84.7434418 101.525093,88.2358411 99.3804671,90.3804671 C97.2358411,92.5250932 93.7432436,92.5419379 91.6192276,90.4179218 L78,76.7986942 L85.7986942,69"
                                    id="Fill-4" fill="#DE4C59"></path>
            <path d="M66.5,38 C78.3741273,38 88,47.6258273 88,59.4998986 C88,71.3741727 78.3741273,81 66.5,81 C54.6258727,81 45,71.3741727 45,59.4998986 C45,47.6258273 54.6258727,38 66.5,38"
                                  class="animeone"  id="Fill-5" fill="#A3D7DE"></path>
                                <polygon id="Fill-6" fill="#6DB856" points="6 36 15 36 15 25 6 25"></polygon>
                                <polygon id="Fill-7" fill="#00B5CB" points="23 37 32 37 32 13 23 13"></polygon>
                                <polygon id="Fill-8" fill="#DE4C59" points="38 37 47 37 47 21 38 21"></polygon>
                                <g id="Group-14">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-10"></g>
                                    <path d="M99.0576338,8.45943462 L99.0576338,24.5662867 L90.1987342,24.5662867 L90.1987342,8.45943462 C90.1987342,6.01694024 92.1857903,4.02988418 94.6280833,4.02988418 C97.0705777,4.02988418 99.0576338,6.01694024 99.0576338,8.45943462 Z M32.2110868,4.02988418 L87.4288558,4.02988418 C86.6327448,5.3190847 86.1720715,6.83620573 86.1720715,8.45943462 L86.1720715,34.8315685 C86.1720715,35.9433857 87.0734851,36.8450005 88.1853022,36.8450005 C89.2973207,36.8450005 90.1987342,35.9433857 90.1987342,34.8315685 L90.1987342,28.5929494 L101.070864,28.5929494 C102.182883,28.5929494 103.084296,27.6913346 103.084296,26.5797188 L103.084296,8.45943462 C103.084296,3.79652741 99.2909905,0.00322149123 94.6280833,0.00322149123 C94.2604306,0.00322149123 93.199956,0.00322149123 93.0175391,0.00322149123 L32.2110868,0.00322149123 C31.0990683,0.00322149123 30.1976547,0.904836349 30.1976547,2.01665351 C30.1976547,3.12826933 31.0990683,4.02988418 32.2110868,4.02988418 Z"
                                        id="Fill-9" fill="#0A090B" mask="url(#mask-2)"></path>
                                    <path d="M98.0021927,89.9390015 C97.3260822,90.615112 96.4250714,90.9902144 95.4654697,90.9946439 C95.4596308,90.9948453 95.4535905,90.9948453 95.4475502,90.9948453 C94.5020425,90.9948453 93.6207633,90.6336356 92.9641831,89.976854 L80.5058712,77.5185421 C82.4478263,76.0986698 84.1632704,74.3868499 85.5871695,72.4477135 L98.0402466,84.9007906 C99.4186421,86.2795888 99.4017293,88.5396663 98.0021927,89.9390015 Z M81.7425211,99.0608553 C79.2998254,99.0608553 77.312568,97.0735979 77.312568,94.6309021 L77.312568,93.0080759 C77.312568,92.9422367 77.3089438,92.8772029 77.3027022,92.8129744 C77.3089438,92.7487459 77.312568,92.683712 77.312568,92.6178728 L77.312568,88.1883224 C77.312568,87.0767066 76.4111545,86.1750917 75.2993373,86.1750917 L27.7815363,86.1750917 L27.7815363,67.6388325 L31.4713518,63.949017 L41.1646176,73.6426854 C41.5421361,74.0202039 42.0543532,74.2324197 42.5883154,74.2324197 C43.1222775,74.2324197 43.6344947,74.0202039 44.0120132,73.6426854 L46.8269925,70.8275048 C50.9366086,77.5298173 58.330535,82.0105089 66.7519157,82.0105089 C70.4077042,82.0105089 73.8698006,81.1654715 76.9537744,79.6614378 L86.1720715,88.8795336 L86.1720715,94.6307008 C86.1720715,97.0735979 84.1848141,99.0608553 81.7425211,99.0608553 Z M16.9104128,94.6313048 L16.9104128,90.2019557 L73.2859053,90.2019557 L73.2859053,92.6180742 C73.2859053,92.6839134 73.2895295,92.7489472 73.2957711,92.8131757 C73.2895295,92.8774042 73.2859053,92.942438 73.2859053,93.0082773 L73.2859053,94.6311035 C73.2859053,96.2545337 73.7465785,97.7718561 74.5428909,99.0610566 L21.3397619,99.0610566 C18.8974689,99.0608553 16.9104128,97.0737992 16.9104128,94.6313048 Z M47.4235724,58.6555029 C47.4235724,47.9978032 56.094216,39.3273609 66.7519157,39.3273609 C77.4096154,39.3273609 86.080259,47.9978032 86.080259,58.6555029 C86.080259,69.3134039 77.4096154,77.9838462 66.7519157,77.9838462 C59.433493,77.9838462 53.0523229,73.8953712 49.7720395,67.8826591 L61.4076631,56.2470355 L61.4076631,60.8149087 C61.4076631,61.9267259 62.3090766,62.8283407 63.4210951,62.8283407 C64.5329123,62.8283407 65.4343258,61.9267259 65.4343258,60.8149087 L65.4343258,51.1520458 C65.4343258,50.0402286 64.5329123,49.1386138 63.4210951,49.1386138 L53.7578295,49.1386138 C52.645811,49.1386138 51.7443975,50.0402286 51.7443975,51.1520458 C51.7443975,52.2636616 52.645811,53.1652765 53.7578295,53.1652765 L58.7944297,53.1652765 L48.1284749,63.8312312 C47.6698151,62.1834385 47.4235724,60.4476587 47.4235724,58.6555029 Z M100.887441,82.0535964 L87.7359042,68.9020598 C89.2534279,65.8066094 90.1071231,62.3292109 90.1071231,58.6555029 C90.1071231,45.7773904 79.6300282,35.3004968 66.7521171,35.3004968 C53.8742059,35.3004968 43.397111,45.7773904 43.397111,58.6555029 C43.397111,61.5999459 43.9461739,64.4179453 44.9450376,67.0148699 L42.5883154,69.3715921 L32.8950496,59.6779237 C32.5175311,59.3004052 32.005314,59.0881894 31.4713518,59.0881894 C30.9373897,59.0881894 30.4251726,59.3004052 30.0476541,59.6779237 L27.7815363,61.9440414 L27.7815363,43.558991 C27.7815363,42.4471738 26.8803242,41.5455589 25.7683056,41.5455589 C24.6562871,41.5455589 23.7548736,42.4471738 23.7548736,43.558991 L23.7548736,65.9709054 L5.55042804,84.1755524 C4.76418284,84.9617976 4.76418284,86.2367027 5.55042804,87.0231493 C5.94365132,87.4161712 6.45888857,87.6128835 6.97412582,87.6128835 C7.48936308,87.6128835 8.00480167,87.4161712 8.3978236,87.0231493 L23.7548736,71.6658979 L23.7548736,86.1754944 L14.8969808,86.1754944 C13.7851637,86.1754944 12.8837501,87.0771092 12.8837501,88.1887251 L12.8837501,94.6315062 C12.8837501,99.2944134 16.6770561,103.087719 21.3397619,103.087719 L81.7425211,103.087719 C86.4054283,103.087719 90.1987342,99.294212 90.1987342,94.6311035 L90.1987342,92.9027734 C91.6073313,94.2698938 93.4643196,95.0217093 95.4471475,95.0217093 C95.4596308,95.0217093 95.4723154,95.0215079 95.485,95.0215079 C97.5129287,95.0116421 99.4180381,94.2179472 100.849387,92.7865984 C103.818998,89.8171889 103.836112,85.0024689 100.887441,82.0535964 Z"
                                        id="Fill-11" fill="#0A090B" mask="url(#mask-2)"></path>
                                    <path d="M64.7384837,71.403145 C64.7384837,72.5149622 65.6398972,73.416577 66.7519157,73.416577 C74.8912146,73.416577 81.5129899,66.7948018 81.5129899,58.6557042 C81.5129899,57.5440884 80.6115763,56.6424735 79.4995578,56.6424735 C78.3875393,56.6424735 77.4861258,57.5440884 77.4861258,58.6557042 C77.4861258,64.574389 72.6708018,69.3899143 66.7519157,69.3899143 C65.6398972,69.3899143 64.7384837,70.2911265 64.7384837,71.403145"
                                        id="Fill-12" fill="#0A090B" mask="url(#mask-2)"></path>
                                    <path d="M8.25486993,34.6330441 L13.0869054,34.6330441 L13.0869054,27.7875766 L8.25486993,27.7875766 L8.25486993,34.6330441 Z M24.361722,34.6330441 L29.1937575,34.6330441 L29.1937575,14.9020144 L24.361722,14.9020144 L24.361722,34.6330441 Z M40.4840776,34.6330441 L45.7032961,34.6330441 L45.7032961,23.1568843 L40.4840776,23.1568843 L40.4840776,34.6330441 Z M2.01343202,38.6599082 L51.5676181,38.6599082 C52.6796367,38.6599082 53.5810502,37.7582933 53.5810502,36.6464762 C53.5810502,35.534659 52.6796367,34.6330441 51.5676181,34.6330441 L49.7301601,34.6330441 L49.7301601,21.1436536 C49.7301601,20.0318365 48.8287466,19.1302216 47.7167281,19.1302216 L38.4708469,19.1302216 C37.3588284,19.1302216 36.4574149,20.0318365 36.4574149,21.1436536 L36.4574149,34.6330441 L33.2206216,34.6330441 L33.2206216,12.8887837 C33.2206216,11.7769666 32.3192081,10.8753517 31.2071896,10.8753517 L22.34829,10.8753517 C21.2362715,10.8753517 20.3350593,11.7769666 20.3350593,12.8887837 L20.3350593,34.6330441 L17.1135681,34.6330441 L17.1135681,25.7743459 C17.1135681,24.6625288 16.2121546,23.7609139 15.1001361,23.7609139 L6.24143791,23.7609139 C5.12941941,23.7609139 4.22800589,24.6625288 4.22800589,25.7743459 L4.22800589,34.6330441 L2.01343202,34.6330441 C0.901413514,34.6330441 0,35.534659 0,36.6464762 C0,37.7582933 0.901413514,38.6599082 2.01343202,38.6599082 Z"
                                        id="Fill-13" fill="#0A090B" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M69,12.500075 C69,11.6717336 68.1273779,11 67.0506372,11 L51.9493628,11 C50.872817,11 50,11.6717336 50,12.500075 C50,13.3284164 50.872817,14 51.9493628,14 L67.0506372,14 C68.1273779,14 69,13.3284164 69,12.500075"
                                    id="Fill-15" fill="#0A090B"></path>
                                <path d="M78.5605,11.439522 C78.2815,11.160508 77.8945,11 77.5,11 C77.1055,11 76.7185,11.160358 76.4395,11.439522 C76.1605,11.7186859 76,12.1055553 76,12.500075 C76,12.8945947 76.1605,13.2816141 76.4395,13.560478 C76.7185,13.839492 77.1055,14 77.5,14 C77.8945,14 78.2815,13.839642 78.5605,13.560478 C78.8395,13.2816141 79,12.8945947 79,12.500075 C79,12.1057053 78.8395,11.7186859 78.5605,11.439522"
                                    id="Fill-16" fill="#0A090B"></path>
                                <path d="M56.9232354,19 C55.8610325,19 55,19.6717336 55,20.499925 C55,21.3282664 55.8610325,22 56.9232354,22 L60.0767646,22 C61.1389675,22 62,21.3282664 62,20.499925 C62,19.6717336 61.1389675,19 60.0767646,19 L56.9232354,19"
                                    id="Fill-17" fill="#0A090B"></path>
                                <g id="Group-21" transform="translate(0.000000, 19.000000)">
                                    <mask id="mask-4" fill="white">
                                        <use xlink:href="#path-3"></use>
                                    </mask>
                                    <g id="Clip-19"></g>
                                    <path d="M68.0002015,3.98028729 L77.9677582,3.98028729 C79.0807053,3.98028729 79.9828715,3.08963536 79.9828715,1.99133702 C79.9828715,0.893237569 79.0807053,0.00258563536 77.9677582,0.00258563536 L68.0002015,0.00258563536 C66.8872544,0.00258563536 65.9850882,0.893237569 65.9850882,1.99133702 C65.9850882,3.08963536 66.8872544,3.98028729 68.0002015,3.98028729"
                                        id="Fill-18" fill="#0A090B" mask="url(#mask-4)"></path>
                                    <path d="M2.01712846,67.9763536 C1.48513854,67.9763536 0.967254408,68.1891713 0.592443325,68.5593149 C0.215617128,68.9290608 0.00201511335,69.4422099 0.00201511335,69.9653039 C0.00201511335,70.4883978 0.215617128,71.001547 0.592443325,71.3714917 C0.967254408,71.7414365 1.48513854,71.9542541 2.01712846,71.9542541 C2.54710327,71.9542541 3.06478589,71.7416354 3.44161209,71.3714917 C3.81642317,71.001547 4.0320403,70.4883978 4.0320403,69.9653039 C4.0320403,69.4422099 3.81642317,68.9290608 3.44161209,68.5593149 C3.06680101,68.1893702 2.54710327,67.9763536 2.01712846,67.9763536"
                                        id="Fill-20" fill="#0A090B" mask="url(#mask-4)"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p class="titlescnd--white text-weight--bold">Vos reporting <br> centralisé</p>
                </div>

                <div class="center">
                    <!-- <img src="/assets/images/icon2.svg" alt="icon 2"> -->
                    <svg  class="secondary-anime" width="113px" height="109px" viewBox="0 0 113 109" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>icon2</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <polygon id="path-1" points="0.0165365854 0.000275252525 112.889206 0.000275252525 112.889206 108.80347 0.0165365854 108.80347"></polygon>
                        </defs>
                        <g id="icon2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="newspaper">
                                <path d="M101.998752,88 C101.662002,87.988147 101.329137,87.9569983 101.000986,87.9106888 C98.5488743,87.5608865 96.4066049,86.2653225 94.9558644,84.4068773 C95.0759736,84.5598641 95.1974696,84.7106457 95.3275647,84.8570168 C95.1974696,84.7106457 95.0759736,84.5598641 94.9547549,84.4068773 C94.9253517,84.3693886 94.8973355,84.3316243 94.8679324,84.2927574 C94.7508745,84.137841 94.6360358,83.9793411 94.528964,83.8180848 C94.6360358,83.9793411 94.7508745,84.137841 94.8679324,84.2927574 C93.6956897,82.7422153 93,80.8170624 93,78.7281721 L93,33 L111,33 L111,78.7281721 C111,83.7403509 106.999507,87.8224802 101.998752,88 Z" id="Fill-1" fill="#A5ABB0"></path>
                                <path d="M17,103.485584 C17,105.427304 18.479555,107 20.3033696,107 L48.6955427,107 C50.5212608,107 52,105.427304 52,103.48674 C52,101.545887 50.5212608,99.9720348 48.6955427,100.000377 L20.3033696,100.000377 C18.479555,99.9720348 17,101.545887 17,103.485584 Z" id="Fill-2" fill="#FF4F4F"></path>
    <path d="M12,57 L12,93.9188015 C12,97.276573 14.7048584,100 18.0422043,100 L51.958901,100 C55.2951416,100 58,97.276573 58,93.9188015 L58,57 L12,57 Z"  class="animeone" id="Fill-3" fill="#FF6A81"></path>
                                <path d="M92.1386927,77.769851 L92.1386927,2 L29,2 L29,56.9567807 L57.6830912,56.9567807 L57.6830912,87 L100.666209,87 C100.778201,87 100.8891,86.9956136 101,86.9912271 C96.0758982,86.8146733 92.1386927,82.7547565 92.1386927,77.769851 Z" id="Fill-4" fill="#FFFFFF"></path>
    <polygon id="Fill-5" fill="#B06D5D" points="37 27 84 27 84 14 37 14"></polygon>
                                <path d="M83.7923631,29 L37.2076369,29 C35.9884694,29 35,28.0082733 35,26.7850884 L35,14.2149116 C35,12.9917267 35.9884694,12 37.2076369,12 L83.7923631,12 C85.0115306,12 86,12.9917267 86,14.2149116 L86,26.7850884 C86,28.0082733 85.0115306,29 83.7923631,29 Z M39.4152738,24.5701769 L81.5847262,24.5701769 L81.5847262,16.4298231 L39.4152738,16.4298231 L39.4152738,24.5701769 Z" id="Fill-6" fill="#000000"></path>
                                <polygon id="Fill-7" fill="#5396A8" points="37 47 58 47 58 36 37 36"></polygon>
                                <path d="M84.7174533,39 L68.2825467,39 C67.0220103,39 66,37.880625 66,36.5 C66,35.119375 67.0220103,34 68.2825467,34 L84.7174533,34 C85.9779897,34 87,35.119375 87,36.5 C87,37.880625 85.9779897,39 84.7174533,39 Z" id="Fill-8" fill="#000000"></path>
                                <path d="M83.5,60 C83.3378125,60 83.1728125,59.9828026 83.010625,59.951222 C82.851875,59.9205794 82.694375,59.8730521 82.543125,59.8092655 C82.3915625,59.7470423 82.2475,59.6701231 82.1134375,59.5797587 C81.9753125,59.4868929 81.8471875,59.3830833 81.7325,59.2670792 C81.6178125,59.1523259 81.5128125,59.025378 81.42,58.8859229 C81.3296875,58.7517834 81.2528125,58.6076382 81.190625,58.4559886 C81.1271875,58.3046517 81.079375,58.1470613 81.0478125,57.9882201 C81.0146875,57.8259394 81,57.6608446 81,57.498564 C81,57.3372214 81.0146875,57.1711885 81.0478125,57.0098459 C81.079375,56.8513174 81.1271875,56.6924762 81.190625,56.5433281 C81.2528125,56.3907405 81.3296875,56.2453445 81.42,56.1108924 C81.5128125,55.9730007 81.6153125,55.8460528 81.7325,55.7300487 C81.8471875,55.6149827 81.9753125,55.5099224 82.1134375,55.4208087 C82.2475,55.3291936 82.3915625,55.2522744 82.543125,55.1900512 C82.693125,55.127828 82.850625,55.079988 83.010625,55.0471567 C83.8225,54.8845633 84.6865625,55.1497156 85.2678125,55.7300487 C85.3825,55.8460528 85.4875,55.9730007 85.5778125,56.1108924 C85.668125,56.2453445 85.745,56.3907405 85.8071875,56.5433281 C85.869375,56.6937269 85.9171875,56.8513174 85.95,57.0098459 C85.981875,57.1711885 86,57.3372214 86,57.498564 C86,57.6608446 85.981875,57.8259394 85.95,57.9882201 C85.9171875,58.1470613 85.869375,58.3046517 85.8071875,58.4559886 C85.745,58.6076382 85.668125,58.7517834 85.5778125,58.8859229 C85.4875,59.025378 85.3825,59.1523259 85.2678125,59.2670792 C85.1528125,59.3830833 85.0246875,59.4868929 84.886875,59.5797587 C84.7525,59.6701231 84.6071875,59.7470423 84.4546875,59.8092655 C84.305625,59.8730521 84.1471875,59.9205794 83.9884375,59.951222 C83.8271875,59.9828026 83.6625,60 83.5,60 Z" id="Fill-9" fill="#000000"></path>
                                <g id="Group-13">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-11"></g>
                                    <path d="M83.3223415,70.7842146 C83.1793,70.7842146 83.033778,70.7690758 82.8907366,70.7412753 C82.7496244,70.7109975 82.6107171,70.6702601 82.4784244,70.6154848 C82.3447537,70.5604343 82.2176976,70.4916212 82.099461,70.4131742 C81.9776415,70.3325253 81.8646415,70.2411414 81.7634927,70.1390227 C81.6623439,70.0380051 81.569739,69.9240505 81.4878829,69.8045909 C81.4082317,69.6832045 81.3404317,69.5552121 81.2855854,69.4241919 C81.2296366,69.2917955 81.1874683,69.1541692 81.1596317,69.0121389 C81.1304171,68.8714848 81.1174634,68.7261515 81.1174634,68.5821944 C81.1174634,68.4382374 81.1304171,68.2940051 81.1596317,68.151149 C81.1874683,68.0124217 81.2296366,67.8736944 81.2855854,67.739096 C81.3404317,67.6069747 81.4082317,67.4800833 81.4878829,67.3606237 C81.569739,67.2403384 81.660139,67.1274848 81.7612878,67.0253662 C81.8646415,66.9221465 81.9776415,66.8318636 82.0961537,66.7501136 C82.2176976,66.6716667 82.3447537,66.6036793 82.4784244,66.547803 C82.6107171,66.4930278 82.7496244,66.4511894 82.8907366,66.4231136 C83.1748902,66.3650354 83.4678634,66.3650354 83.7531195,66.4231136 C83.8931293,66.4511894 84.0328634,66.4930278 84.1643293,66.547803 C84.2988268,66.6036793 84.4269854,66.6716667 84.5454976,66.7501136 C84.6670415,66.8318636 84.7800415,66.9221465 84.8814659,67.0253662 C84.9826146,67.1274848 85.0752195,67.2403384 85.1548707,67.3606237 C85.234522,67.4800833 85.302322,67.6069747 85.3571683,67.739096 C85.4120146,67.8736944 85.4541829,68.0124217 85.483122,68.151149 C85.5112341,68.2940051 85.5272195,68.4382374 85.5272195,68.5821944 C85.5272195,68.7261515 85.5112341,68.8714848 85.483122,69.0121389 C85.4541829,69.1541692 85.4120146,69.2917955 85.3571683,69.4241919 C85.302322,69.5552121 85.234522,69.6832045 85.1548707,69.8045909 C85.0752195,69.9240505 84.9826146,70.0380051 84.8814659,70.1390227 C84.4710829,70.5485985 83.9027756,70.7842146 83.3223415,70.7842146 Z" id="Fill-10" fill="#000000" mask="url(#mask-2)"></path>
                                    <path d="M110.685429,30.4123763 L95.0057146,30.4123763 L95.0057146,2.20229545 C95.0057146,0.986229798 94.017378,0.000275252525 92.8008366,0.000275252525 L29.0939171,0.000275252525 C27.8765488,0.000275252525 26.889039,0.986229798 26.889039,2.20229545 L26.889039,55.1765707 L12.1527366,55.1765707 C10.9350927,55.1765707 9.94785854,56.1636263 9.94785854,57.3785909 L9.94785854,64.1652172 L5.66929268,64.1652172 C2.54305122,64.1652172 0,66.7049722 0,69.8271616 L0,82.4931818 C0,85.6156465 2.54305122,88.1551263 5.66929268,88.1551263 L9.94785854,88.1551263 L9.94785854,93.9205657 C9.94785854,97.3719571 12.0890707,100.333949 15.114439,101.550015 C14.939978,102.094189 14.8484756,102.668366 14.8484756,103.257682 C14.8484756,106.315462 17.3397122,108.80347 20.401461,108.80347 L49.1781512,108.80347 C52.2410024,108.80347 54.732239,106.315462 54.732239,103.257682 C54.732239,102.739381 54.6622341,102.231816 54.5255317,101.747922 C57.8372585,100.68352 60.2400244,97.5772955 60.2400244,93.9205657 L60.2400244,89.7466364 L101.405098,89.7466364 C101.526641,89.7466364 101.648185,89.7422323 101.768902,89.7378283 L101.818512,89.7359015 C101.823749,89.7359015 101.830363,89.7348005 101.8356,89.7348005 C108.035717,89.5057904 112.889205,84.4747247 112.889205,78.2763131 L112.889205,32.6143965 C112.890307,31.3972298 111.903073,30.4123763 110.685429,30.4123763 Z M5.66929268,83.7510859 C4.97503171,83.7510859 4.4097561,83.1876439 4.4097561,82.4931818 L4.4097561,69.8271616 C4.4097561,69.1326995 4.97503171,68.5692576 5.66929268,68.5692576 L9.94785854,68.5692576 L9.94785854,83.7510859 L5.66929268,83.7510859 Z M49.1781512,104.399429 L20.401461,104.399429 C19.7716927,104.399429 19.2582317,103.887735 19.2582317,103.257682 C19.2582317,102.949949 19.3767439,102.666164 19.5919951,102.453394 C19.7094049,102.339439 19.9569024,102.150066 20.327322,102.141533 L49.2274854,102.141533 C49.611961,102.145662 49.8691049,102.336136 49.9887195,102.453394 C50.2039707,102.666164 50.3224829,102.951051 50.3224829,103.257682 C50.3224829,103.887735 49.8101244,104.399429 49.1781512,104.399429 Z M55.8302683,93.9205657 C55.8302683,96.024596 54.1165268,97.7374924 52.0094902,97.7374924 L18.1794951,97.7374924 C16.0713561,97.7374924 14.3576146,96.024596 14.3576146,93.9205657 L14.3576146,59.5806111 L55.8302683,59.5817121 L55.8302683,93.9205657 Z M60.2400244,85.3414949 L60.2400244,70.7842146 L75.1640171,70.7842146 C76.381661,70.7842146 77.3688951,69.7982601 77.3688951,68.5821944 C77.3688951,67.3661288 76.381661,66.3801742 75.1640171,66.3801742 L60.2400244,66.3801742 L60.2400244,59.5817121 L75.1640171,59.5817121 C76.381661,59.5817121 77.3688951,58.5957576 77.3688951,57.3796919 C77.3688951,56.1636263 76.381661,55.1776717 75.1640171,55.1776717 L31.2987951,55.1776717 L31.2987951,4.40431566 L90.5959585,4.40431566 L90.5959585,78.2763131 C90.5959585,80.9437854 91.4949976,83.3951843 93.0127805,85.3414949 L60.2400244,85.3414949 Z M108.480551,78.2763131 C108.480551,82.0695682 105.527393,85.1543232 101.742995,85.3307601 C101.522232,85.320851 101.295129,85.2982803 101.06472,85.2649747 C101.03578,85.260846 101.008771,85.2575429 100.979832,85.2553409 C97.5680585,84.7307096 95.0057146,81.8113813 95.0057146,78.2763131 L95.0057146,34.8164167 L108.480551,34.8164167 L108.480551,78.2763131 Z" id="Fill-12" fill="#000000" mask="url(#mask-2)"></path>
                                </g>
                                <path d="M83.7923631,45.6016013 L59.9965208,45.6016013 L59.9965208,36.1991994 C59.9965208,34.9846915 59.0091552,34 57.7888839,34 L37.2076369,34 C35.9884694,34 35,34.9846915 35,36.1991994 L35,47.8008006 C35,49.0153085 35.9884694,50 37.2076369,50 L83.7923631,50 C85.0115306,50 86,49.0153085 86,47.8008006 C86,46.5862928 85.0115306,45.6016013 83.7923631,45.6016013 Z M39.4152738,45.6016013 L55.581247,45.6016013 L55.581247,38.3983987 L39.4152738,38.3983987 L39.4152738,45.6016013 Z" id="Fill-14" fill="#000000"></path>
                            </g>
                        </g>
                    </svg>
                    <p class="titlescnd--white text-weight--bold">Le suivi de vos activités <br> en temps réel</p>
                </div>

                <div class="center">
                    <!-- <img src="/assets/images/icon3.svg" alt="icon 3"> -->
                    <svg  class="third-anime" width="94px" height="113px" viewBox="0 0 94 113" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>icon3</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="icon3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="analysis-(1)">
                                <polygon id="Fill-1" fill="#FFFFFF" points="81 24.3804135 81 111 1 111 1 6 62.4827016 6"></polygon>
                                <polygon id="Fill-2" fill="#E1EAF8" points="81 24.1635 81 111 74 111 74 17"></polygon>
                                <polygon id="Fill-3" fill="#E1EAF8" points="62.1447554 24.8554701 81 25 62 6"></polygon>
                                <polygon id="Fill-4" fill="#76FFD9" points="46.623063 13 40.376937 13 39 1 48 1"></polygon>
<path class="primary-anime" d="M28.654695,98.3442642 C25.1906899,94.8802899 22.6015008,90.7745678 21,86.2951951 L34.2020703,81 C35.0700119,83.6758708 36.5650712,86.1914156 38.6872483,88.3126868 C40.8096471,90.4339581 43.3243272,91.9298912 46,92.7980468 L40.7047579,106 C36.2255672,104.398292 32.1187,101.808238 28.654695,98.3442642 Z"  id="Fill-5" fill="#76FFD9"></path>
                                <polygon id="Fill-6" fill="#76FFD9" points="14 28 23 28 23 19 14 19"></polygon>
                                <path d="M41.3666085,56 L12.7014597,56 C11.8072324,56 11.0271246,56.8437333 11.0007726,57.9384 C10.9726782,59.0706667 11.7144557,60 12.6332929,60 L41.3666085,60 C42.2682406,60 43,59.104 43,58 C43,56.8946667 42.2682406,56 41.3666085,56 Z" id="Fill-7" fill="#969BA1"></path>
                                <path d="M12.7014597,52 L41.3666085,52 C42.2682406,52 43,51.104 43,50 C43,48.8946667 42.2682406,48 41.3666085,48 L12.6332929,48 C11.7144557,48 10.9726782,48.928 11.0007726,50.0613333 C11.0271246,51.1562667 11.8072324,52 12.7014597,52 Z" id="Fill-8" fill="#969BA1"></path>
                                <path d="M12.7014597,43 L41.3666085,43 C42.2682406,43 43,42.1042667 43,41 C43,39.8949333 42.2682406,39 41.3666085,39 L12.6332929,39 C11.7144557,39 10.9726782,39.9282667 11.0007726,41.0616 C11.0271246,42.1552 11.8072324,43 12.7014597,43 Z" id="Fill-9" fill="#969BA1"></path>
 <path class="primary-anime" d="M39.2901685,87.7093972 C37.4243541,85.8429169 36.0672986,83.6320748 35.2582384,81.1369315 C35.1177324,80.7035749 34.8034023,80.3482531 34.3917482,80.1555771 C33.9789982,79.9622435 33.5055302,79.948434 33.0824779,80.1178749 L20.0325181,85.3521301 C19.2122787,85.6809288 18.7986519,86.5998114 19.0965421,87.4321103 C20.7832716,92.1490557 23.4592422,96.3609664 27.0492689,99.9512284 C30.6386381,103.540614 34.8505299,106.216377 39.5685501,107.903991 C39.7509229,107.969093 39.9383373,108 40.121587,108 C40.7758933,108 41.3914016,107.607853 41.647425,106.96823 L46.8816568,93.9173348 C47.051097,93.4951574 47.0383835,93.0208105 46.8448316,92.6089354 C46.6521564,92.1961835 46.2968363,91.881852 45.8634816,91.7415646 C43.3685686,90.9322815 41.1568597,89.5760967 39.2901685,87.7093972 Z M39.2011741,104.237667 C35.5372776,102.709191 32.2372499,100.489801 29.3740842,97.6264027 C26.5106992,94.7623473 24.2913182,91.4623049 22.763069,87.7992688 L32.7477624,83.7955973 C33.7374418,86.1125318 35.1760391,88.2446814 36.9655725,90.0350996 C38.7551059,91.824641 40.8879036,93.2630255 43.2050469,94.2529286 L39.2011741,104.237667 Z" id="Fill-10" fill="#434C54"></path>
 <path  d="M60.5687111,71.1337018 L57.2516543,71.1337018 C57.1736494,70.272787 56.4776889,69.5992439 55.6296296,69.5992439 C54.7292049,69.5992439 54,70.3584491 54,71.2944029 C54,73.075224 55.3921383,74.5240199 57.1039012,74.5240199 L57.870479,74.5240199 L57.870479,76.304841 C57.870479,77.2405688 58.5994667,78 59.5001086,78 C60.3996642,78 61.1297383,77.2405688 61.1297383,76.304841 L61.1297383,74.482432 C63.3084444,74.194707 65,72.2574792 65,69.9143174 C65,67.3724829 63.0122864,65.304841 60.5687111,65.304841 L58.430637,65.304841 C57.7846519,65.304841 57.2583901,64.7583217 57.2583901,64.0854566 C57.2583901,63.4134955 57.7846519,62.8662982 58.430637,62.8662982 L61.7476938,62.8662982 C61.8256988,63.7269869 62.5225284,64.4007561 63.3703704,64.4007561 C64.2701432,64.4007561 65,63.6413249 65,62.7055971 C65,60.924776 63.6072099,59.4759801 61.8960988,59.4759801 L61.1297383,59.4759801 L61.1297383,57.695159 C61.1297383,56.7592052 60.3996642,56 59.5001086,56 C58.5994667,56 57.870479,56.7592052 57.870479,57.695159 L57.870479,59.517342 C55.6915556,59.805293 54,61.7422947 54,64.0854566 C54,66.627291 55.9879309,68.695159 58.430637,68.695159 L60.5687111,68.695159 C61.2153481,68.695159 61.7407407,69.2416783 61.7407407,69.9143174 C61.7407407,70.5862785 61.214479,71.1337018 60.5687111,71.1337018 Z" id="Fill-11" fill="#434C54"></path>
                                <path d="M46.5181876,54.5166851 C53.6761013,47.358453 65.3238987,47.3575691 72.4838013,54.5166851 C79.643483,61.6755801 79.641715,73.3244199 72.4838013,80.4826519 C67.4390081,85.5275138 60.1659578,87.0183425 53.8038344,84.9533702 L48.527663,98.1111602 C52.0014279,99.3518232 55.7012671,100 59.5005525,100 C68.1804344,100 76.3425334,96.6194475 82.4810134,90.480884 C88.6186095,84.3429834 92,76.1809945 92,67.5009945 C92,58.8190055 88.6194935,50.6579006 82.4810134,44.519116 C76.3425334,38.3805525 68.1822024,35 59.4996685,35 C50.8197866,35 42.6576876,38.3814365 36.5198705,44.519116 C30.3813905,50.6579006 27,58.8198895 27,67.5001105 C27,71.2983425 27.6492729,74.999116 28.8896981,78.4729282 L42.0464252,73.1958011 C39.9823649,66.8344751 41.4733943,59.561547 46.5181876,54.5166851 Z" id="Fill-12" fill="#FFC843"></path>
                                <path d="M84.0176503,43.1318389 C83.6712263,42.7838568 83.3190689,42.4473929 82.9607372,42.1169096 L82.9607372,24.471714 C82.9607372,24.0313649 82.7867533,23.6091791 82.4764932,23.2968591 L64.0397203,4.77694591 C63.7296807,4.46551189 63.3093851,4.29074558 62.8699051,4.29074558 L48.2609969,4.29074558 L48.534211,1.84733974 C48.5866928,1.37753068 48.4376268,0.9068356 48.124059,0.55464493 C47.8104912,0.201568245 47.3617496,0 46.8907364,0 L38.5800868,0 C38.1088531,0 37.6601115,0.201568245 37.3465437,0.55464493 C37.0329759,0.9068356 36.8841304,1.37753068 36.9366122,1.84733974 L37.2096059,4.29074558 L1.65383867,4.29074558 C0.74069921,4.29074558 0,5.03411155 0,5.95202233 L0,18.5336464 C0,19.4506712 0.74069921,20.1949231 1.65383867,20.1949231 C2.56697812,20.1949231 3.30767733,19.4506712 3.30767733,18.5336464 L3.30767733,7.61329907 L37.5827119,7.61329907 L38.2080834,13.1976255 C38.3018009,14.0377885 39.0098644,14.6728392 39.851558,14.6728392 L45.6192652,14.6728392 C46.4607383,14.6728392 47.1688018,14.0377885 47.2627398,13.1976255 L47.8889934,7.61329907 L61.2290766,7.61329907 L61.3565324,24.3445709 C61.3633683,25.2522926 62.094806,25.9859124 62.9975814,25.9930005 L79.6530598,26.1210295 L79.6530598,39.4198822 C73.9274704,35.3176361 67.0916039,33.1043725 59.9163697,33.1043725 C49.568632,33.1043725 39.562908,38.0363709 33.155937,46.1808355 C31.6564567,48.0879812 30.3556574,50.1550525 29.2936725,52.3388562 C25.3054957,60.5431267 24.7584058,70.2979223 27.8155817,78.8975768 C27.9670734,79.3224206 28.2841694,79.6686307 28.6941008,79.8538076 C28.9095409,79.9506047 29.1410783,80 29.3728362,80 C29.5821019,80 29.7907061,79.9601294 29.9887257,79.8806096 L43.1168971,74.5913259 C43.9248524,74.2659372 44.3436043,73.3679617 44.0748004,72.5373234 C42.4915255,67.6372215 43.2564811,62.1820316 46.1213706,57.9431179 C46.6338401,57.1833607 46.4375846,56.150268 45.681229,55.6354937 C44.9257555,55.1207194 43.8972884,55.3178576 43.3839369,56.0767288 C40.2407614,60.7291897 39.2063404,66.6016923 40.5078012,72.0630842 L30.3979957,76.1358703 C29.5631379,73.2950871 29.1410783,70.3437735 29.1410783,67.3397422 C29.1410783,59.0834182 32.34291,51.3203828 38.1562631,45.4808842 C43.9689548,39.6422717 51.6963505,36.426926 59.9163697,36.426926 C68.137271,36.426926 75.8664308,39.6422717 81.6780199,45.4808842 C87.4907115,51.3197182 90.6923227,59.0825322 90.6923227,67.3406282 C90.6923227,68.258539 91.4323603,69.0019049 92.3461613,69.0019049 C93.2593008,69.0019049 94,68.258539 94,67.3406282 C94,58.1956319 90.4546109,49.5977495 84.0176503,43.1318389 Z M44.1411745,11.3502857 L41.3296488,11.3502857 L40.7075849,5.79896336 C40.7069234,5.78412262 40.7051593,5.7703894 40.7033952,5.75554866 L40.4304015,3.32255349 L45.0404217,3.32255349 L44.1411745,11.3502857 Z M64.6514201,22.6832942 L64.5548359,9.9935764 L77.2843218,22.7803128 L64.6514201,22.6832942 Z" id="Fill-13" fill="#434C54"></path>
                                <path d="M91.6793715,72.1200667 C90.7887644,71.9405266 89.9177093,72.5172114 89.7373471,73.4091916 C88.5464291,79.2889122 85.6544823,84.6632361 81.3721426,88.9510779 C75.5814387,94.7509295 67.8821027,97.9454685 59.6928667,97.9454685 C56.7132652,97.9454685 53.7861686,97.5243412 50.968915,96.6924277 L55.008282,86.6064944 C61.746272,88.2436984 68.8140108,86.2894388 73.7639763,81.3309617 C81.5232866,73.5596885 81.5232866,60.9159679 73.7639763,53.1446947 C70.4025604,49.7780964 65.9376617,47.7283461 61.1911254,47.3725661 C56.4970942,47.0192064 51.8261299,48.3367145 48.0383035,51.0810828 C47.3010372,51.6157429 47.1356136,52.6469988 47.6683522,53.3854017 C48.2021893,54.1235847 49.2320773,54.2894833 49.9691239,53.7557033 C56.5006091,49.0234116 65.7289599,49.7644549 71.4339863,55.478937 C77.9079137,61.9628455 77.9079137,72.5128109 71.4339863,78.9975995 C66.9983058,83.4401187 60.5243783,84.9906329 54.5388129,83.0456143 C53.7141116,82.7776242 52.8232848,83.1952311 52.500566,84.0005216 L47.2555622,97.1005735 C47.0883811,97.5166403 47.0987064,97.9833127 47.2823639,98.3923387 C47.4658017,98.8015847 47.8082922,99.1177602 48.2305288,99.2691372 C51.8981869,100.580705 55.7556538,101.245839 59.6928667,101.245839 C66.8403515,101.245839 73.6506183,99.0473523 79.3547659,94.9716143 L79.3547659,109.699629 L3.29529036,109.699629 L3.29529036,25.6501854 C3.29529036,24.7381829 2.557365,24 1.64764518,24 C0.737925354,24 0,24.7381829 0,25.6501854 L0,111.349815 C0,112.261817 0.737925354,113 1.64764518,113 L81.0024111,113 C81.9127899,113 82.6500562,112.261817 82.6500562,111.349815 L82.6500562,92.2928133 C83.007046,91.9645365 83.3587634,91.6300989 83.7030114,91.2846601 C88.4433964,86.5369666 91.646858,80.5824376 92.9667316,74.0659654 C93.1477529,73.172885 92.5719558,72.3013671 91.6793715,72.1200667 Z" id="Fill-14" fill="#434C54"></path>
                            </g>
                        </g>
                    </svg>
                    <p class="titlescnd--white text-weight--bold">Un gain de temps <br> pour le pilotage</p>
                </div>

                <div class="center">
                    <img src="/assets/images/icon4.svg" alt="icon 4">
                    <p class="titlescnd--white text-weight--bold">Des utilitaires <br> pour votre entreprise</p>
                </div>


            </div>

        </div>

    </div>
</section>

<section class="blocktwo">


    <div>
        <p class="titlemain title--small--green text-weight--bold">Comment ça marche</p>

        <p class="titlemain title--medium text-weight--bold"> Votre reporting d'entreprise <br>réuni sur une seule
            application</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium labore <br>
            amet est asperiores, soluta distinctio dolor pariatur beatae, <br>
            adipisci eveniet recusandae tempore incidunt quos eaque fuga numquam</p>
    </div>

    <div>


        <div class="horizontal-container">
            <p class="ovalgreen titlescnd text-weight--bold">1</p>
            <p class="titlemain title--small text-weight--bold margin--left">Pluguer vos données</p>
        </div>
        <p class="title--xs margin--leftz">lore lore lore</p>


        <div class="horizontal-container">
            <p class="ovalgreen titlescnd text-weight--bold">2</p>
            <p class="titlemain title--small text-weight--bold margin--left">Laisser tourner notre application</p>
        </div>

        <p class="title--xs margin--leftz">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
            Omnis totam quos ipsam accusantium eius tempora,<br> dolore, perspiciatis
            suscipit molestiae explicabo,<br> eaque dicta sunt vero tenetur deleniti
            exercitationem ex. Debitis.</p>

        <div class="horizontal-container">
            <p class="ovalgreen  titlescnd text-weight--bold">3</p>
            <p class="titlemain title--small text-weight--bold margin--left">Customiser vos reporting</p>
        </div>
        <p class="title--xs margin--leftz">lore lore lore</p>


    </div>



</section>

<section id ="formzz" class="containerform">
    <form class="blockform" [formGroup]="messageForm">

        <h1 class="center title--small--green text-weight--bold">OFFRE DE LANCEMENT</h1>

        <p class="center">inscrivez-vous et recevez prochainement
            <br>un accès premium à l’application WeAreData</p>

        <div class="grid-form margin-up-down">
            <div>
                <label class="titlemain title--small text-weight--bold" for="lastName">NOM</label>
                <br>
                <input class="inputform inputpadding" type="text" name="lastName">
            </div>
            <div>
                <label class="titlemain title--small text-weight--bold" for="firstName">PRENOM</label>
                <br>
                <input class="inputform inputpadding" type="text" name="firstName">
            </div>
            <div>
                <label class="titlemain title--small text-weight--bold" for="society">SOCIETE</label>
                <br>
                <input class="inputform inputpadding" type="text" name="society">
            </div>
            <div>
                <label class="titlemain title--small text-weight--bold" for="siret">N° SIRET</label>
                <br>
                <input class="inputform inputpadding" type="text" name="siret">
            </div>
            <div>
                <label class="titlemain title--small text-weight--bold" for="mail">MAIL</label>
                <br>
                <input class="inputform inputpadding" type="text" name="mail" placeholder="mail@mail.com">
            </div>
            <div>
                <label class="titlemain title--small text-weight--bold" for="phone">TELEPHONE</label>
                <br>
                <input class="inputform inputpadding" type="text" id="fname" name="phone">
            </div>
        </div>



        <div class=" center margin-up-down">
            <label>
                <input type="checkbox">
                <span class="checkmark"></span>Je souhaite être informé des prochaines actualités de WeAreData
            </label>
        </div>

        <div class="center margin-up-down">

            <button type="submit" value="Submit" class="btn btn-md btn-green center">je m'inscris</button>

        </div>
    </form>

</section>
<app-footer></app-footer>