@import 'compass';
// base
@import 'base/variables';
@import 'base/fonts';
@import 'base/base';
// theme
@import 'theme/button';
@import 'theme/title';
@import 'theme/paragraph';
@import 'theme/title';
@import 'theme/inputs';

body, html {
       
        margin: 0;
    }
    
   /*  body {
        font-family: 'Montserrat';
        margin: 0;
        font-size: 18px;
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
    } */
